%h1 Editing blog
- form_for blog do |o|
  %p
    = o.label :title
    %br
    = o.text_field :title
  %p
    = o.label :body
    = o.text_area :body
  %p
    = o.label :image_url
    %br
    = o.text_field :image_url
  = o.submit "Submit", :action => :create, :class => :button, :style => 'float: right'
  = link_to 'Show', blog_path(o)
  = link_to 'Back', blogs_path(o)
