#articles
  = link_to image_tag("../img/characters/#{@match.player.name}.jpg"), matchup_path(@match.player.id)
  = @match.player.name
  VS
  = @match.opponent.name
  = link_to image_tag("../img/characters/#{@match.opponent.name}.jpg"), matchup_path(@match.player.id)
  - form_for ([@match, @article]) do |article|
    %p
      = @article.body
    %br
      = article.label :Body
      = article.text_area :body
      = article.submit 'Update', :action => :update
