- if current_user && current_user.admin
  %h1 Recent Posts
  %ul
  - @articles.each do |article|
    - unless article.body == nil
      %hr
      %h3
        = article.matchup.player.name
        vs
        = article.matchup.opponent.name
        = button_to "delete", matchup_article_path(article.matchup, article), :method => :delete
      %li= raw(article.body)
      %li= article.user.name
- else
  %h2
    Hey Your not an Admin!
