%h1
  =image_tag("../img/characters/#{character.name}.jpg")
= image_tag("../img/names/#{character.name}.png", :height => "10%")
= image_tag("../img/vs.png", :height => "10%")
#section2
  %h2 
    = tip.matchup.opponent.name
    Tips
  %hr
  %ul.tips
    - unless tips.empty?
      - tips.each do |tip|
        %li
          %h3
            VS
            = tip.matchup.opponent.name
            =image_tag("../img/characters/#{tip.matchup.opponent.name}.jpg")
          .userName= tip.user.name
          = ':'
          = time_ago_in_words(tip.created_at)
          ago
          - if current_user == tip.user
            = link_to "(Edit)", edit_matchup_tip_path(matchup, tip)
          - unless tip.user.admin
            %p.body= tip.body
          - else
            %p= raw(tip.body)
    - else
      %li
        %strong Be the first to post a Tip!
    -if current_user
      %h3 Got a tip?
      = render :partial => 'form'
    -else
      = link_to "Want to contribute a link? Connect with facebook!", user_omniauth_authorize_path(:facebook)
