#content
  %h2
    = @match.player.name
    vs
    = @match.opponent.name
  #articles
    - @articles.each do |o|
      %table
        %hr
        %tr
          %td
            %p
              = o.body
        %tr
          %td
            %i
              %ul
                %li
                  posted by
                  = o.user.email + ":"
                  = "#{o.created_at.month}" + "-"
                  = "#{o.created_at.day}" + "-"
                  = o.created_at.year
  - if user_signed_in?
    %br
    = render 'form'
  - else
    %hr
    %br
    Got a tip to post?
    %b
      = link_to "Sign In", new_user_registration_path
