#content
  %h3
    = image_tag("../img/characters/#{@match.player.name}.jpg")
    VS 
    = image_tag("../img/characters/#{@match.opponent.name}.jpg")
  #articles
    #match
      %table
        %th
          %h3 General Tips
        - @articles.each do |o|
          %tr
            %td
              %i
                = "#{o.created_at.month}" + "-"
                = "#{o.created_at.day}" + "-"
                = o.created_at.year
              %p
                = o.body
              %i
                %ul
                  %li
                    posted by
                    = o.user.name
  - if user_signed_in?
    %br
    = render 'form'
  - else
    %hr
    %br
    Got a tip to post?
    %b
      = link_to "Sign In", new_user_registration_path
