#characters
  %h2 
    Your
    = image_tag("../img/characters/#{@match.player.name}.jpg")
    Player
  %p
    = link_to "(Switch Character)", root_path
  %br
  %h3
    Choose an Opponent!
  %table
    - @matches.sort.each_slice(12) do |group|
      %tr
        -group.each do |match|
          %td
            - unless match.opponent == nil
              = link_to image_tag("../img/characters/#{match.opponent.name}.jpg"), matchup_path(match)
#content
  #articles
    #match
      %h3
        = image_tag("../img/characters/#{@match.player.name}.jpg")
        = @match.player.name
        VS 
        = @match.opponent.name
        = image_tag("../img/characters/#{@match.opponent.name}.jpg")
      - @articles.each do |o|
        %ul
          %li
            %strong
              %i
                = "Posted #{time_ago_in_words(o.created_at)} ago"
            - if current_user == o.user
              = link_to "(Edit)", edit_matchup_article_path(@match.id, o.id)
            %p
              = raw(o.body)
            %i
              posted by:
              = o.user.name
  - if user_signed_in?
    %br
    = render 'form'
  - else
    %hr
    %br
    Got a tip to post?
    %b
      = link_to "Sign In", user_session_path
      = "/  "
      = link_to "Sign Up", new_user_registration_path
