%h1
  = image_tag("../img/characters/#{matchup.player.name}.jpg")
  = matchup.player.name
  Vs
  = matchup.opponent.name
  = image_tag("../img/characters/#{matchup.opponent.name}.jpg")

%h2 Matchup tips
%ul.tips
  - unless tips.empty?
    - tips.each do |tip|
      %li
        .userName= tip.user.name
        = ':'
        = time_ago_in_words(tip.created_at)
        ago
        - if current_user == tip.user
          = link_to "(Edit)", edit_matchup_tip_path(matchup, tip)
        - unless tip.user.admin
          %p.body= tip.body
        - else
          %p= raw(tip.body)
  - else
    %li
      %strong Be the first of your friends to post a Tip!
  -if current_user
    %h3 Got a tip?
    = render :partial => 'form'
  -else
    Want to contribute a tip?
    %b= link_to "Connect with facebook!", user_omniauth_authorize_path(:facebook)
  
