#character_navigation
  %table
    %h1
      Your
      = image_tag("../img/characters/#{@match.player.name}.jpg")
      Player
    %p
      = link_to "(Switch Character)", root_path
    %br
    %h3
      Choose an Opponent!
    - @matches.sort.each_slice(12) do |group|
      %tr
        -group.each do |match|
          %td
            - unless match.opponent == nil
              = link_to image_tag("../img/characters/#{match.opponent.name}.jpg"), matchup_path(match)
%br
#articles
  %h2
    = image_tag("../img/characters/#{@match.player.name}.jpg")
    = @match.player.name
    VS
    = @match.opponent.name
    = image_tag("../img/characters/#{@match.opponent.name}.jpg")
  - @articles.each do |article|
    - unless article == nil
      %ul
        %li
          %h4
            = image_tag("../img/characters/#{article.matchup.player.name}.jpg")
            = link_to "#{article.matchup.player.name} vs #{article.matchup.opponent.name}", matchup_path(article.matchup.id)
            = image_tag("../img/characters/#{article.matchup.opponent.name}.jpg")
            - if current_user && current_user == article.user
              = link_to "(Edit)", edit_matchup_article_path(article.matchup, article)
          %br
          %i
            Posted by:
            = article.user.name
            = ": #{time_ago_in_words(article.created_at)} ago"
          %p
            = raw(article.body)
            %br
            %p
              #uparrow
                - unless article.count_likes == 0 
                  = image_tag("../img/uparrow.png")
                = "#{article.count_likes}"
                - if current_user
                  - if @likes.where( :article_id => article.id ).any?
                    =  '- You like this'
                  - else
                    = link_to '- Like this', like_path(article)
                - else 
                  people like this

  // Login/Signup or Post article
  - if user_signed_in?
    %br
    = render 'form'
  - else
    - unless @articles.first.nil?
      %hr
    %h3
      %b
        %hr
        = link_to "Sign In", user_session_path
        = "/  "
        = link_to "Sign Up", new_user_registration_path
