%table
  %h3 Select your character!
  - @characters.map(&:name).sort.in_groups_of(12).each do |group|
    %tr
      - group.each do |o|
        %td
          - unless o == nil
            - o = Character.find_by_name(o)
            = link_to image_tag("../img/characters/#{o.name}.jpg") , character_path(o.id)
%br
#articles
  #homepage
    %h3 Recent Posts
    - @articles.each do |article|
      - unless article == nil
        %ul
          %li
            %strong
              = link_to image_tag("../img/characters/#{article.matchup.player.name}.jpg") , character_path(article.matchup.player.id)
              = article.matchup.player.name
              vs
              = article.matchup.opponent.name
              = link_to image_tag("../img/characters/#{article.matchup.opponent.name}.jpg") , character_path(article.matchup.opponent.id)
            %p
              = article.body
              %br
              Posted by:
              = article.user.name
