%h2 Listing characters
%table
  %tr
  - @characters.each do |o|
    %tr
      %td= link_to "#{o.name}", o
      %td= link_to 'Edit', edit_character_path(o)
      %td= button_to 'Destroy', character_path(o.id), :method => :delete, :class=>:destroy,:confirm=>"Are you sure?"
%br
= link_to 'New Character', new_character_path

