= image_tag("/img/sf4logo.jpg")
%h1 Select your character!
#chooseYourCharacter
  %ul
    - characters.each do |character|
      %li
        = link_to image_tag("../img/characters/#{character.name}.jpg"), character_path(character)
#section2
  %h2 Recent Tips
  %hr
  %ul.tips
    - tips.each do |tip|
      %li
        %h3
          = link_to tip.player, character_path(Character.find_by_name(tip.player))
          = link_to image_tag("../img/characters/#{tip.player}.jpg"), character_path(Character.find_by_name(tip.player))
          VS
          = link_to image_tag("../img/characters/#{tip.opponent}.jpg"), character_path(Character.find_by_name(tip.opponent))
          = link_to tip.opponent, character_path(Character.find_by_name(tip.opponent))
        %p=link_to truncate(tip.body, :length => 100, :omission => "....."), tip_path(tip)
#comments
  %h2 Comments
  %hr
  <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:comments href="matchuptips.com" num_posts="5" width="550"></fb:comments>
