= image_tag("/img/sf4logo.jpg")
%h2 Select a character!
#chooseYourCharacter
  %ul
    - characters.each do |character|
      - if character == "Yang"
        %li
          = link_to image_tag("../img/characters/#{character.humanize.titleize}.jpg"), character_show_path(character.humanize.titleize)
      - elsif character == "Yun"
        %br
        %li
          = link_to image_tag("../img/characters/#{character.humanize.titleize}.jpg"), character_show_path(character.humanize.titleize)
      - elsif character == "Ryu"
        %li{:style => "margin-left: 25px"}
          = link_to image_tag("../img/characters/#{character.humanize.titleize}.jpg"), character_show_path(character.humanize.titleize)
      - elsif character == "Evil Ryu"
        %br
        %li{:style => "margin-left: 40px"}
          = link_to image_tag("../img/characters/#{character.humanize.titleize}.jpg"), character_show_path(character.humanize.titleize)
      - else
        %li
          = link_to image_tag("../img/characters/#{character.humanize.titleize}.jpg"), character_show_path(character.humanize.titleize)


        
