%h1
  =image_tag("/img/characters/#{character.name}.jpg")
= image_tag("/img/names/#{character.name}.png", :height => "10%")
= image_tag("/img/vs.png", :height => "10%")
%h2 Matchups
#chooseYourCharacter
  %ul
  - matchups.each do |match|
    - unless match.tips.blank?
      %li.linkWithTips= link_to image_tag("/img/characters/#{match.opponent.name}.jpg"), matchup_path(match)
    - else
      %li.linkWithoutTips= link_to image_tag("/img/characters/#{match.opponent.name}.jpg"), matchup_path(match)
#section2
  %h2 RecentTips
  %hr
  - unless characterTips.empty?
    %ul.tips
      - characterTips.each do |tip|
        %li
          %h3
            VS
            =image_tag("../img/characters/#{tip.matchup.opponent.name}.jpg")
          %p= tip.body
  - else
    %br
    %h3 Select an opponent and be the first to post a tip!
