%h1
  =image_tag("../img/characters/#{character.name}.jpg")
  = character.name
#accordion
  %h2= link_to "How to: #{character.name}", '#'
  #category
    %ul
      %li
        %p Tip 1
      %li
        %p Tip 1
  %h2= link_to "Dealing with: #{character.name}", '#'
  #category
    %ul
      %li
        %p Tip 1
      %li
        %p Tip 1
  %h2= link_to "Combos", '#'
  #category
    %ul
      %li
        %p Tip 1
      %li
        %p Tip 1
  %h2= link_to "Matchups", '#'
  #category
    #chooseYourCharacter
      %ul
      - matchups.each do |match|
        - unless match.tips.blank?
          %li.linkWithTips= link_to image_tag("../img/characters/#{match.opponent.name}.jpg"), matchup_path(match)
        - else
          %li=image_tag("../img/characters/#{match.opponent.name}.jpg")
