%h1
  = image_tag("../img/characters/#{matchup.player.name}.jpg")
  = matchup.player.name
  Vs
  = matchup.opponent.name
  = image_tag("../img/characters/#{matchup.opponent.name}.jpg")

- form_for ([matchup, tip]) do |article|
  %p
    = tip.body
  %br
    = article.label :Body
    = article.text_area :body
    = article.submit 'Update', :action => :update
