- if current_user && current_user.admin
  %h1 Recent Posts
  %ul
  - tips.each do |tip|
    - unless tip.body == nil
      %li
        %hr
        %h3
          = tip.matchup.player.name
          vs
          = tip.matchup.opponent.name
        = raw(tip.body)
        = tip.user.name
        = button_to "Delete", matchup_tip_path( tip.matchup, tip), :method => :delete
- else
  %h2
    Hey Your not an Admin!
