%h1
  .bigSpacer= link_to image_tag("../img/characters/#{tip.player}.jpg"), character_show_path(tip.player) 
  .bigSpacer= link_to image_tag("../img/characters/#{tip.opponent}.jpg"), character_show_path(tip.opponent)
  %br
  .spacer=tip.player
  =image_tag("../img/vs.png", :height => "10%", :margin => "50px 0")
  .spacer=tip.opponent
#section2
  #tip
    %p
      - unless tip.user.admin
        = image_tag("/img/quotes-open.png")
        =tip.body
        = image_tag("/img/quotes-close.png")
      - else
        = image_tag("/img/quotes-open.png")
        =raw(tip.body)
        = image_tag("/img/quotes-close.png")
      %b
        = tip.user.name
        = ':'
        = time_ago_in_words(tip.created_at)
        ago
#comments
  %h2 Comments
  %hr
  <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:comments href="matchuptips.com/tips/#{tip.id}" num_posts="5" width="550"></fb:comments>
%h2 
#section2
  - unless characterTips.empty?
    %h2
      More!
    %hr
    %ul.tips
      - characterTips.each do |tip|
        %li
          %h3
            = link_to tip.player, character_show_path(tip.player)
            = link_to image_tag("../img/characters/#{tip.player}.jpg"), character_show_path(tip.player)
            VS
            = link_to image_tag("../img/characters/#{tip.opponent}.jpg"), character_show_path(tip.opponent)
            = link_to tip.opponent, character_show_path(tip.opponent)
          %p=link_to truncate(tip.body, :length => 150, :omission => "....."), tip_path(tip)
          .userName= tip.user.name
          = ':'
          = time_ago_in_words(tip.created_at)
          ago
