#nav
  #logo
    %a{:href => "/"} MatchupTips.com
  #user
    - if user_signed_in?
      #facebookLoggedIn
        = image_tag("../img/facebook-button-logo.png")
        = link_to "#{current_user.name}", edit_user_registration_path
      #signOut= link_to " Sign Out", "/users/sign_out"
    - else
      = link_to image_tag("../img/facebook-connect-button.png"), user_omniauth_authorize_path(:facebook)

