#sidebarSection
  #alternating
    %h3 Matchuptips.com ~ Facebook
    #facebookLike
      <iframe src="http://www.facebook.com/plugins/like.php?href=matchuptips.com&amp;send=false&amp;layout=standard&amp;width=240&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:80px;" allowTransparency="true"></iframe>
#sidebarSection
  #tipSubmit
    %h3 Got a tip?
    %p Don't hold out on us! Share the goods. Its easy! 
    = link_to "Add a tip", new_tip_path, :class => :button
#sidebarSection
  #alternating
    %h3 Random Tips
    - unless randomTips.empty?
      %ul.tipsRandom
        - randomTips.each do |tip|
          %li
            %h4
              .spacer=link_to tip.player, tip_path(tip)
              .spacer=link_to tip.opponent, tip_path(tip)
            =link_to image_tag("../img/characters/#{tip.player}.jpg"), tip_path(tip)
            Vs
            =link_to image_tag("../img/characters/#{tip.opponent}.jpg"), tip_path(tip)
            %p=link_to truncate(tip.body, :length => 45, :omission => "..."), tip_path(tip)
#sidebarSection
  #sidebarFeedback
    %h3 Feedback?
    - form_for(feedback) do |o|
      = o.text_area :body
      %p
        = o.submit "Submit", :controller => :feedbacks, :action => :create, :class => :button

