%html
  %head
    %title Match-up
    = stylesheet_link_tag 'global.css', :rel => 'stylesheet', :type => 'text/css'
    = render :partial => '/layouts/javascript'
  %body
    #wrapper
      #topbar
        = render :partial => '/layouts/nav'
      #main
        #content
          = flash[:notice]
          = flash[:failure]
          = flash[:success]
          = yield 
    = render :partial => '/layouts/footer'
