%html
  %head
    %meta{'name' => "description", :content => 'Learn and share Super Street fighter 4 match tips.'}/
    %meta{'name' => "keywords", :content => 'Super Street Fighter 4, vs, versus, how to beat, matchups'}/
    %meta{'property' => 'fb:admins', :content => '500705660'}/
    %title 
      - if defined? character
        = character.name
      - if defined? tip
        = "#{tip.player} vs #{tip.opponent}"
    = csrf_meta_tag
    = stylesheet_link_tag 'global.css', :rel => 'stylesheet', :type => 'text/css'
    = javascript_include_tag 'jquery', 'jquery-ui', 'application'
  %body
    #wrapper
      #topbar
        = render :partial => '/layouts/nav'
        = render :partial => '/layouts/secondaryNav'
      #adminSidebar
        = render :partial => '/layouts/adminSidebar'
      #contentContainer
        #midsection
          #content
            #messages
              - if flash.any?
                =  flash[:notice]
                = flash[:failure]
                = flash[:success]
            = yield 
          #sidebar
            = render :partial => '/layouts/sidebar'
      #footer
        = render :partial => '/layouts/footer'
      #copywrap
        = render :partial => '/layouts/copywrap'
