%html
  %head
    %meta{'name' => "description", :content => 'Learn and share Super Street fighter 4 match tips.'}/
    %meta{'name' => "keywords", :content => 'Super Street Fighter 4, vs, versus, how to beat, matchups'}/
    %title Matchuptips
    = csrf_meta_tag
    = stylesheet_link_tag 'global.css', :rel => 'stylesheet', :type => 'text/css'
    = javascript_include_tag 'jquery', 'jquery-ui', 'application'
  %body
    #wrapper
      #topbar
        = render :partial => '/layouts/nav'
      #adminSidebar
        = render :partial => '/layouts/adminSidebar'
      #content
        #messages
          - if flash.any?
            =  flash[:notice]
            = flash[:failure]
            = flash[:success]
        = yield 
      #footer
        = render :partial => '/layouts/footer'
      #copywrap
        = render :partial => '/layouts/copywrap'
