!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "en", "http-equiv" => "Content-Language"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %title Watercolor
    / CSS
    = stylesheet_link_tag 'global.css', :rel => 'stylesheet', :type => 'text/css'
    = stylesheet_link_tag 'theme.css', :rel => 'stylesheet', :type => 'text/css'
    / ENDS CSS
    / JS
    %script{:src => "js/jquery_1.3.2.js", :type => "text/javascript"}
    %script{:src => "js/jqueryui.js", :type => "text/javascript"}
    %script{:src => "js/easing.js", :type => "text/javascript"}
    %script{:src => "js/jquery.cycle.all.js", :type => "text/javascript"}
    %script{:src => "js/post-validation.js", :type => "text/javascript"}
    %script{:src => "js/custom.js", :type => "text/javascript"}
    / ENDS JS
    / superfish
    %link{:href => "css/superfish-custom.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/superfish-1.4.8/js/hoverIntent.js", :type => "text/javascript"}
    %script{:src => "js/superfish-1.4.8/js/superfish.js", :type => "text/javascript"}
    / ENDS superfish
    / Cufon
    %script{:src => "js/cufon-yui.js", :type => "text/javascript"}
    %script{:src => "js/bebas_400.font.js", :type => "text/javascript"}
    :javascript
      Cufon.replace('.custom', { fontFamily: 'bebas', hover: true });
  %body
    / WRAPPER
    #wrapper
      / navigation
      %ul#nav.sf-menu
        %li.custom.last
          %a{:href => "/"} Super Street Fighter 4
        %li.custom
          %a{:href => "/feedbacks/new"} Feedback
      / ENDS navigation
      / HEADER
      #header
        %a{:href => "/"}
          / %h1
          /   = link_to "Match-up", root_path
          / %img#logo{:alt => "Logo", :src => "img/logo.png"}/
        / %form#search{:action => "", :method => "post"}
        /   %p
        /     %input#keyword{:name => "keyword", :onblur => "clearInput(this)", :onfocus => "defaultInput(this)", :title => "Search...", :type => "text", :value => "Search..."}/
        /   %p
        /     %input#go{:type => "submit", :value => ""}/
        /   .clear
      / ENDS HEADER
      / MAIN
      #main
        = yield 
        = render :partial => '/layouts/sidebar'
      / ENDS MAIN
    / ENDS WRAPPER
    / FOOTER
    = render :partial => '/layouts/footer'