%html
  %head
    = csrf_meta_tag
    %title Matchuptips
    %meta{'name' => "description", :content => 'Learn and share Super Street fighter 4 match tips.'}/
    = stylesheet_link_tag 'global.css', :rel => 'stylesheet', :type => 'text/css'
    = render :partial => '/layouts/javascript'
  %body
    #wrapper
      #feedback-button
        = link_to image_tag("../img/stolenfeedback.jpg"), new_feedback_path
      #topbar
        = render :partial => '/layouts/nav'
      // sidebar
      = render :partial => '/layouts/sidebar'
      #main
        #content
          #messages
            - if flash.any?
              =  flash[:notice]
              = flash[:failure]
              = flash[:success]
          = yield 
      #footer
        = render :partial => '/layouts/footer'
