%html
  %head
    %title Match-up
    = stylesheet_link_tag 'global.css', :rel => 'stylesheet', :type => 'text/css'
    = render :partial => '/layouts/javascript'
  %body
    #wrapper
      %nav= render :partial => '/layouts/nav'
      #main
        = yield 
    = render :partial => '/layouts/footer'
